header .navbar{
    padding: 30px;
    .nav-item a{
        color: #181818;
        font-size: 18px;
        font-family: 'Outfit' ,sans-serif;
        margin-left: 20px;
    }
    .nav-item a:hover{
        color: #FFA832;
    }
    .icon-container #icon1, #icon2, #icon3, #icon4{
        display: flex;
        flex-direction: row;
        margin-left: 20px;
        font-size: 20px;
        cursor: pointer;
    }
    .icon-container #icon1, #icon2, #icon3{
        margin-top: 15px;
    }
    .icon-container #icon4{
        margin-top: 7px;
    }
    .icon-container i:hover{
        color: #FFA832;
    }
}
header .carusel-part{
    margin: 0 120px 0 120px;
    img{
        border-radius: 20px;
        position: relative;
    }
    .text-container{
        position: absolute;
        top: 28%;
        left: 9%;
        h1{
            color: #181818;
            font-family: 'Outfit', sans-serif;
            font-size: 60px;
            font-weight: bold;
            letter-spacing: 1px;
            margin-bottom: 14px;
        }
        h5{
            color: black;
            font-size: 20px;
            font-family: 'Outfit',sans-serif;
            font-weight:300;
            margin-bottom: 14px;
        }
        p{
            color: #666666;
            font-family: 'Outfit', sans-serif;
            font-size: 18px;
            font-weight: 400;
            margin-bottom: 14px;
        }
        button{
            border: none;
            padding: 20px 60px;
            color: white;
            background-color: #FFA832;
            font-weight: 500;
            border-radius: 9999px;
            margin-top: 16px;
        }
        button:hover{
            background-color: #181818;
            color: white;
        }
    }
    .text-container2{
        position: absolute;
        top: 28%;
        right: 8%;
        h1{
            color: #181818;
            font-family: 'Outfit', sans-serif;
            font-size: 60px;
            font-weight: bold;
            letter-spacing: 1px;
            margin-bottom: 14px;
        }
        h5{
            color: black;
            font-size: 20px;
            font-family: 'Outfit',sans-serif;
            font-weight:300;
            margin-bottom: 14px;
        }
        p{
            color: #666666;
            font-family: 'Outfit', sans-serif;
            font-size: 18px;
            font-weight: 400;
            margin-bottom: 14px;
        }
        button{
            border: none;
            padding: 20px 60px;
            color: white;
            background-color: #FFA832;
            font-weight: 500;
            border-radius: 9999px;
            margin-top: 16px;
        }
        button:hover{
            background-color: #181818;
            color: white;
        }
    }
}
@media (max-width:1125px){
    header .carusel-part{
        margin-left: 50px;
        margin-right: 50px;
    }
    header .carusel-part .text-container{
        h1{
            font-size: 20px;
        }
        p{
            font-size: 10px;
        }
        button{
            margin-top: 0;
            padding: 10px 20px;
        }
    }

}
.promotion {
    padding: 50px;
    margin-left: 120px;
    margin-right: 120px;

    .box {
        width: 100%;
        height: 300px;
        border-radius: 20px;
        position: relative;
        margin-bottom: 40px;
        overflow: hidden;
        transition: all .3s ease;

        &:hover {
            img {
                transform: scale(1.1);
            }
        }

        img {
            transition: all 3s ease;
            width: 100%;
            height: 300px;
            border-radius: 20px;
            object-fit: cover;
        }

        .text {
            width: 50%;
            height: 100%;
            padding: 20px;
            position: absolute;
            top: 0;

            span {
                font-size: .875rem;
                color: #666666;
                margin-bottom: 10px;
            }

            h5 {
                font-size: 1.5rem;
                color: #181818;
                margin-bottom: 20px;
            }

            p {
                font-size: 1rem;
                color: #666666;
            }
        }

        .wavy-border-button {
            position: absolute;
            bottom: 0;
            left: 0;
            padding: 10px 10px 0;
            background-color: #fff;
            border-top-right-radius: 30px;

            &::after {
                content: "";
                position: absolute;
                width: 20px;
                height: 20px;
                right: -20px;
                bottom: 0;
                background-image: url(../../Assets/img/down-right.svg);
            }

            &::before {
                content: "";
                position: absolute;
                width: 20px;
                height: 20px;
                background-image: url(../img/top-left.svg);
                top: -20px;
                left: 0;
            }

            button {
                background-color: #FFA832;
                border: none;
                border-radius: 20px;
                color: #fff;
                font-size: .938rem;
                padding: 12px 20px;
                transition: all .3s ease;

                &:hover {
                    background-color: #181818;
                }
            }
        }
    }

    #lighting {
        height: 97%;

        img {
            height: 100%;
            object-fit: cover;
        }
    }
}


main .household-items{
    margin-top: 100px;
    margin-bottom: 30px;
    margin-right: 120px;
    margin-left: 120px;
    .item-container #big-bg-image {
        width: 100%;
        height: auto;
    }
    .item-container #bg-image{
        width: 100%;
        height: auto;
    }
    .item-container{
        position: relative;
    }
    .text-containers{
        position: absolute;
        top: 10px;
        left: 20px;
        padding: 10px;
        h6{
            font-size: 14px;
            font-family: 'Outfit', sans-serif;
            color: #666666;
            padding-bottom: 10px;
        }
        h2{
            font-family: 'Outfit', sans-serif;
            font-size: 24px;
            color: #181818;
            padding-bottom: 7px;
        }
        p{
            font-size: 16px;
            color: #666666;
            font-family: 'Outfit',sans-serif;
        }
    }
}
@media (max-width:974px){
    main .household-items .item-container .text-containers{
        h2{
            padding-bottom: 4px ;
            font-size:16px ;
        }
        h6{
            padding-bottom: 6px;
        }
    }
}
main .new-arrivals{
    margin-top: 100px;
    margin-bottom: 40px;
    h3{
        margin-bottom: 60px;
        color: #181818;
        font-size: 36px;
        font-family: 'Outfit',sans-serif;
    }
    .boxes{
        margin: 0 120px 0 120px;
    }
    .boxes .card{
        border: none;
        img{
            width: 100%;
        }
        h5{
         color: #181818;
         font-family: 'Outfit',sans-serif;
         font-size: 18px;
        }
        p{
          color: #666666;
          font-family: 'Outfit',sans-serif;
          font-size: 16px;
        }
        h5:hover{
            color: #FFA832;
        }
    }
}
main .shops {
    margin-left: 120px;
    margin-right:120px ;
    margin-bottom: 30px;
    margin-top: 100px;
    h3{
        font-size: 36px;
        font-family: 'Outfit',sans-serif;
        color: #181818;
        margin-bottom: 60px;
    }
    .card{
        border: none;
        overflow: hidden;
        img{
            width: 100%;
            border-radius: 50%;
            transition: all 2s ease;
        }
        h5{
            text-align: center;
        }
    }
    .card:hover{
        img{
            transform: scale(1.1);
        }
        h5{
            color: #FFA832;
        }
    }
}
main .products{
    margin-left: 120px;
    margin-right: 120px;
    h3{
        margin-top: 100px;
        margin-bottom: 50px;
        font-size: 40px;
        font-family: 'Outfit',sans-serif;
        color: #181818;
    }
    .card{
        margin-bottom: 20px;
        border: none;
        h5{
            margin: 0;
            font-size: 18px;
            font-family: 'Outfit',sans-serif;
            color: #181818;
        }
        p{
            margin: 0;
            font-size: 16px;
            color: #666666;
            font-family: 'Outfit',sans-serif;
            margin-top: 10px;
            del{
                color: #181818;
            }
        }
    }
}
main .products-ticket{   
    margin-left: 120px;
    margin-right: 120px;
    margin-bottom: 60px;
    button{
        margin-left: 45%;
        margin-bottom: 60px;
    }
    .icon-text{
        display: flex;
        flex-direction: row;
        i{
            margin-top: 5px;
            font-size: 20px;
            border: 1px solid #666666;
            padding-top: 40px;
            padding:0 20px ;
            border-radius: 50%;
            text-align: center;
            box-sizing: border-box;
        }
    }
    .text{
        display: flex;
        flex-direction: column;
        margin-left: 20px;
    }
}

@media (max-width:1125px){
    main #button4{
        margin-left: 30%;
        width: 15%;   
    }
}
main #button4{
    border: none;
    width: 12%;
    padding: 10px;
    font-size: 17px;
    font-family: 'Outfit',sans-serif;
    font-weight: 500;
    border: 1px solid rgb(204, 204, 204);
    background-color: white;
    border-radius: 9999px;
    margin-left: 40%;
    margin-top: 80px;
    margin-bottom: 50px;
}
main #button4:hover{
    background-color: #FFA726;
    color: white;
    border: none;
}

.features-container {
    display: flex;
    justify-content: space-between;
    margin-left: 130px;
    margin-right: 130px;
}

.feature {
    text-align: center;
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: row;
}

.feature i {
    font-size: 2em;
    color: #333;
    margin-bottom: 10px;
    margin-right: 20px;
}

.feature h3 {
    font-size: 1.2em;
    margin-bottom: 5px;
    color: #333;
}

.feature p {
    font-size: 0.9em;
    color: #777;
}

.feature i:hover {
    color: #FFA726;
}


.second-promotion {
    padding-bottom: 100px;
    padding-top: 40px;

    .box {
        width: 100%;
        position: relative;
        overflow: hidden;
        border-radius: 20px;
        z-index: 3;
        transition: all 3s ease;
        margin-bottom: 20px;

        &:hover {
            img {
                transform: scale(1.1);
            }
        }

        img {
            width: 100%;
            border-radius: 20px;
            transition: all 3s ease;
        }

        .text {
            position: absolute;
            top: 20px;
            left: 20px;

            h5 {
                font-size: 1.5rem;
                font-weight: 600;
            }

            p {
                color: #666666;
                font-size: 1rem;
                font-weight: 400;
            }
        }

        .wavy-border-button {
            position: absolute;
            bottom: 0;
            right: 0;
            padding: 10px 10px 0;
            background-color: #fff;
            border-top-left-radius: 30px;

            &::after {
                content: "";
                position: absolute;
                width: 20px;
                height: 20px;
                background-image: url('../img/down-left.svg');
                left: -20px;
                bottom: 0;
            }

            &::before {
                content: "";
                position: absolute;
                width: 20px;
                height: 20px;
                background-image: url('../img/top-right.svg');
                top: -20px;
                right: 0;
            }
        }
    }

    button {
        border: none;
        border-radius: 20px;
        color: #fff;
        font-size: .938rem;
        padding: 12px 20px;
        transition: all .3s ease;

        &:hover {
            background-color: lightgray !important;
        }
    }
}
main .brands{
    margin-left: 220px;
    margin-right: 220px;
    margin-bottom: 50px;
    h3{
        font-size: 36px;
        font-family: 'Outfit',sans-serif;
        color: #181818;
    }
    img{
        margin-top: 50px;
        width: 60%;
    }
}

main .email-part{
    margin-top: 100px;
    margin-bottom: 60px;
    .email-text-container{
        text-align: center;
        h3{
            font-size: 40px;
            font-family: 'Outfit',sans-serif;
            color: #181818;
        }
        p{
            font-size: 18px;
            font-family: 'Outfit',sans-serif;
            color: #666666;
            margin-top: 15px;
            font-weight: 500;

        }
    }


    .subscription-container{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        .email-input{
            border: none;
            background-color: #ededed;
            padding: 25px 40px 25px 40px;
            width: 40%;
            border-radius: 9999px;
            font-size: 16px;
            margin-top: 20px;
        }
        .subscribe-button{
           position: absolute;
           right: 30.5%;
           top: 25px;
           background-color: #FFA832;
           color: white;
           font-family: 'Outfit',sans-serif;
           font-weight: 500;
           border: none;
           padding: 20px;
           border-radius: 9999px;
           width: 10%;
        }
        .subscribe-button:hover{
            background-color: #181818;
        }
        
    }

    
}
footer{
    background-color: #181818;
    width: 100%;
    height: 25vh;

    .information{
        margin-left: 120px;
        margin-right: 120px;
        color: white;
        padding-top: 80px;
        .footer-text i{
            font-size: 20px;
            margin-right: 10px;
        }
        .footer-text i:hover{
            color: #FFA832;
        }
        .footer-text h5{
            font-size: 20px;
            color: white;
            font-family: 'Outfit',sans-serif;
            padding-bottom: 15px;
        }
        .footer-text p{
            font-size: 18px;
            color: white;
            font-family: 'Outfit',sans-serif;
            padding-bottom: 10px;
        }
        .footer-text{
            display: flex;
            flex-direction: column;
        }
        .footer-text .email{
            padding: 10px;
        }
        .footer-text ul li{
            list-style-type: none;
            color: white;
            margin-bottom: 10px;
            a{
                list-style-type: none;
                color: white;
                text-decoration: none;
            }
            a:hover{
                color: #666666;
            }
        }
    }

   .latest-part{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 120px;
    padding-right: 120px;
    margin-top: 80px;
    p{
        color: white;
        font-family: 'Outfit',sans-serif;
        font-size: 17px;
        font-weight: 500;
    }
    img{
        width: 20%;
    }
   }

}
